body {
    color:white;
    background:aquamarine;
}
.heading {
    width:80%;
    font-size:22px;
}
#camera {
    border:2px dashed antiquewhite;
    width:350px;
    height:300px;
}
.name_of_objects,#result_object_name,#result_object_accuracy,#useless_thing {
    color:black;
}